{% extends "admin/change_form.html" %}
{% block title %}
Questions from file
{% endblock %}
{% block content %}
<h2>Upload</h2>
<p>Please select file, supported file are: .ods, .xlsx </p>
<form id="question_form" action="/fileloader/import_questions" enctype="multipart/form-data" method="POST" novalidate="">
    {% csrf_token %}
    <label for="id_file">File:</label>
    <input type="file" name="file" required="" id="id_file">
    <br>
    <span class="helptext">supported extensions are: .ods and .xlsx</span>
    <br>
    <input class="default" type="submit" value="Save" name="_save"> 
    {% if message_succ %}
    <p> {{ message_succ }}</p>
    {% endif %}
</form>
{% endblock %}